@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype'), url('Lato-Light.ttf') format('truetype'), url('Lato-Bold.ttf') format('truetype');
} */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
}

form {
    position: relative;
    background: #f06c64;
    padding: 64px 40px 13px;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
    color: #F0D6D6;
    border-bottom: 6px solid #ea676b;
}

.form_desc h2,
.contact_info h3,
.inputs input,
.inputs,
.social {
    overflow: hidden;
    white-space: nowrap;
}

.form_desc {
    max-height: calc(58px + 29px + 20px);
    overflow: hidden;
}

.form_desc h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 29px;
    font-weight: 900;
    letter-spacing: -0.1px;
}

.inputs {
    float: left;
    width: 619px;
}

.inputs input,
.inputs textarea {
    display: block;
    font-size: 12px;
    line-height: 38px;
    background: #D6564F;
    border: none;
    border-radius: 5px;
    color: #F0D6D6;
    margin-bottom: 16px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.inputs textarea {
    resize: none;
    height: 202px;
    min-height: 202px;
    overflow: hidden;
}

.inputs input::-webkit-input-placeholder,
.inputs textarea::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    color: #f48c8f;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    font-family: 'Lato', sans-serif;
    color: #f48c8f;
}

input.submit {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

input.submit:hover {
    background: #f48c8f;
    box-shadow: inset 0px 0px 3px 2px #D6564F;
    box-sizing: border-box;
}

.inputs,
.contact_info {
    margin-top: 46px;
}

.contact_info {
    position: relative;
    width: 300px;
    float: right;
    font-size: 12px;
    max-height: calc(308px + 18px + 63px + 10px + 20px);
    overflow: hidden;
}

.contact_info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: -0.1px;
}

.contact_info p {
    letter-spacing: -0.1px;
    line-height: 22px;
}

.contact_info .contact_links {
    margin-top: 20px;
}

.contact_links a {
    display: block;
    line-height: 21px;
    text-decoration: none;
    color: #f0d8d9;
    text-align: left;
}

.contact_links a::before {
    display: inline-block;
    content: "";
    height: 16px;
    width: 15px;
    margin-right: 8px;
    vertical-align: middle;
}

a.location::before {
    background: url("assets/sprite_contacts.png") -7px -40px no-repeat;
}

a.contact_phone::before {
    background: url("assets/sprite_contacts.png") -9px -9px no-repeat;
}

a.contact_mail::before {
    background: url("assets/sprite_contacts.png") -41px -5px no-repeat;
}

.contact_links a.location {
    letter-spacing: 0.1px;
}

.contact_links a.contact_phone {
    letter-spacing: 0px;
}

.contact_links a.contact_mail {
    letter-spacing: 0.2px;
}


/* Footer */

footer {
    position: relative;
    height: 80px;
    background: #2d303a;
    font-size: 12px;
    letter-spacing: -0.1px;
    padding: 30px 41px;
    color: #656d89;
    box-sizing: border-box;
}

.social {
    margin-top: 25px;
}

.social a {
    display: inline-block;
    height: 34px;
    width: 34px;
}

.social .fb {
    background: url("assets/sprite_social.png") -10px -10px no-repeat;
}

.social .ggl {
    background: url("assets/sprite_social.png") -63px -10px no-repeat;
}

.social .twt {
    background: url("assets/sprite_social.png") -63px -64px no-repeat;
}

.social .lin {
    background: url("assets/sprite_social.png") -9px -64px no-repeat;
}

footer .social {
    position: absolute;
    right: 40px;
    top: -4px;
}

footer .social a {
    margin-left: 3.5px;
}