@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900&display=swap');

/* @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype'), url('Lato-Light.ttf') format('truetype'), url('Lato-Bold.ttf') format('truetype');
} */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

form {
    position: relative;
    background: #f06c64;
    padding: 64px 40px;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
    color: #F0D6D6;
}

.form_desc h2,
.contact_info h3,
.inputs input {
    overflow: hidden;
    white-space: nowrap;
}

.form_desc h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 29px;
    font-weight: 900;
    box-sizing: border-box;
}

.inputs {
    float: left;
    width: 619px;
}

.inputs input,
.inputs textarea {
    display: block;
    font-size: 12px;
    line-height: 38px;
    background: #D6564F;
    border: none;
    border-radius: 5px;
    color: #F0D6D6;
    margin-bottom: 16px;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
}

.inputs textarea {
    resize: none;
    height: 202px;
    overflow: hidden;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    font-family: 'Lato', sans-serif;
    color: #f48c8f;
}

input.submit {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

input.submit:hover {
    background: #f48c8f;
    box-shadow: inset 0px 0px 3px 2px #D6564F;
    box-sizing: border-box;
}

.inputs,
.contact_info {
    margin-top: 44px;
}

.contact_info {
    position: relative;
    width: 300px;
    float: right;
    font-size: 12px;
    line-height: 22px;
    max-height: 120px;
    overflow: hidden;
}

.contact_info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.contact_info .contact_list {
    margin-top: 30px;
}

.contact_list a {
    display: block;
    line-height: 22px;
    text-decoration: none;
    color: #f0d8d9;
}

.contact_list a::before {
    display: inline-block;
    content: "";
    height: 11px;
    width: 11px;
}

a.location::before {
    background: url("assets/sprite_contacts.png") -10px -41px no-repeat;
}

a.contact_phone::before {
    background: url("assets/sprite_contacts.png") -10px -10px no-repeat;
}

a.contact_mail::before {
    background: url("assets/sprite_contacts.png") -41px -10px no-repeat;
}