@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900&display=swap');

/* @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype'), url('Lato-Light.ttf') format('truetype'), url('Lato-Bold.ttf') format('truetype');
} */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #666d89;
}

.portfolio,
.about_us {
    /* padding: 70px 40px; */
    padding: 63px 40px;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.portfolio {
    background: #2d303a;
    border-bottom: 6px solid #323746;
    height: 870px;
}

.about_us {
    background: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.portfolio h2,
.about_us h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 31px;
    font-weight: 900;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.filter-buttons span {
    display: inline-block;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin: 11px 4px;
    padding: 0 5px;
    line-height: 20px;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
}

.filter-buttons span:hover {
    color: white;
    border: 1px solid white;
}

.button:first-child {
    margin-left: 0px;
    padding: 0 7px;
}

.portfolio .grid {
    display: grid;
    grid-template: repeat(3, 187px) / repeat(4, 220px);
    grid-gap: 20px;
    grid-template-areas: "gr1 gr2 gr3 gr4" "gr5 gr6 gr7 gr8" "gr9 gr10 gr11 gr12";
}

.portfolio .gr1 {
    grid-area: "gr1";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -946px -413px;
}

.portfolio .gr2 {
    grid-area: "gr2";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -408px -737px;
}

.portfolio .gr3 {
    grid-area: "gr3";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -1341px -309px;
}

.portfolio .gr4 {
    grid-area: "gr4";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -528px -444px;
}

.portfolio .gr5 {
    grid-area: "gr5";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -1340px -648px;
}

.portfolio .gr6 {
    grid-area: "gr6";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -726px -698px;
}

.portfolio .gr7 {
    grid-area: "gr7";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -969px -49px;
}

.portfolio .gr8 {
    grid-area: "gr8";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -1354px -42px;
}

.portfolio .gr9 {
    grid-area: "gr9";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -1346px -930px;
}

.portfolio .gr10 {
    grid-area: "gr10";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -151px -123px;
}

.portfolio .gr11 {
    grid-area: "gr11";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -647px -185px;
}

.portfolio .gr12 {
    grid-area: "gr12";
    background: url("assets/sprite_icons_portfolio.png") no-repeat -46px -754px;
}

.about_us .grid {
    margin-top: 45px;
    display: grid;
    grid-template: 1, 400px / repeat(3, 1fr);
    grid-template-areas: "gr1 gr2 gr3";
    grid-gap: 20px;
    overflow: hidden;
}

.about_us .gr1 {
    grid-area: "gr1";
}

.about_us .gr2 {
    grid-area: "gr2";
}

.about_us .gr3 {
    grid-area: "gr3";
}

.about_us .gr1.grid-item::before {
    background: url("assets/photo3.png") 0px -1px no-repeat;
}

.about_us .gr2.grid-item::before {
    background: url("assets/photo1.png") 0px -1px no-repeat;
}

.about_us .gr3.grid-item::before {
    background: url("assets/photo.png") 0px -1px no-repeat;
}

.about_us .grid-item::before {
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
}

.about_us .grid h3 {
    margin-top: 8px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.about_us .grid p {
    line-height: 22px;
    font-size: 12px;
    height: 40px;
    overflow: hidden;
}

.social {
    margin-top: 25px;
    white-space: nowrap;
    overflow: hidden;
}

.social a {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin-right: 2px;
}

.social .fb {
    background: url("assets/sprite_social.png") -10px -10px no-repeat;
}

.social .ggl {
    background: url("assets/sprite_social.png") -63px -10px no-repeat;
}

.social .twt {
    background: url("assets/sprite_social.png") -63px -64px no-repeat;
}

.social .lin {
    background: url("assets/sprite_social.png") -9px -64px no-repeat;
}