 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900&display=swap');
 /* @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype'), url('Lato-Light.ttf') format('truetype'), url('Lato-Bold.ttf') format('truetype'), url('Lato-Thin.ttf') format('truetype'), url('Lato-Black.ttf') format('truetype');
} */
 
 * {
     margin: 0;
     padding: 0;
 }
 
 body {
     font-family: 'Lato', sans-serif;
     font-size: 18px;
 }
 
 body.blocked {
     overflow: hidden;
 }
 
 h1,
 h2,
 h3 {
     letter-spacing: -0.1px;
     white-space: nowrap;
     scroll-margin-top: 8rem;
 }
 
 .header {
     position: sticky;
     /* position: relative; */
     top: 0;
     z-index: 6;
     background: #2D303A;
     border-bottom: 6px solid #323746;
     text-transform: uppercase;
     width: 100%;
     text-align: left;
     padding: 29px 40px;
 }
 
 .main {
     color: #666D89;
     background: #F2F2F2;
     width: 100%;
     text-align: justify;
 }
 
 .header,
 .main,
 .footer {
     /* overflow: hidden; */
     box-sizing: border-box;
 }
 
 .wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     width: 1020px;
     margin: 0 auto;
 }
 /* Logo */
 
 .logo {
     display: inline-block;
     color: #FFFFFF;
     font-size: 26px;
     font-weight: 700;
     line-height: 31px;
     letter-spacing: -1px;
     color: #FFFFFF;
 }
 
 .logo span {
     color: #F06C64;
 }
 
 .logo_container {
     display: flex;
     width: 100%;
     justify-content: space-between;
 }
 /* Menu */
 
 .menu {
     float: right;
     max-width: 400px;
     margin: 10px 0 0 0;
 }
 
 .menu li {
     position: relative;
     display: inline-block;
     list-style-type: none;
 }
 
 .menu li:last-child {
     margin-right: 0px;
 }
 
 .menu li:not(:first-child)::before {
     content: ".";
     position: relative;
     bottom: 4px;
     color: #494e62;
     margin: auto 11px;
 }
 
 .menu-item {
     display: inline-block;
     font-size: 12px;
     line-height: 12px;
     color: #FFFFFF;
     text-decoration: none;
     max-width: 150px;
     font-weight: 500;
     margin-top: 4px;
 }
 
 .menu-item:hover {
     color: #F06C64;
 }
 
 .menu,
 .menu-item {
     white-space: nowrap;
     /* overflow: hidden; */
 }
 
 .menu .active {
     color: #F06C64;
 }
 
 .hamburger_line,
 .hamburger::after,
 .hamburger::before {
     content: "";
     display: inline-block;
     position: absolute;
     background: #ffffff;
     border-radius: 5px;
     height: 2px;
     width: 100%;
     left: 0;
 }
 
 .hamburger {
     display: none;
     position: relative;
     width: 25px;
     height: 20px;
     z-index: 10;
     transition: all 0.5s ease-out;
     cursor: pointer;
     left: -8px;
     top: 0px;
 }
 
 .hamburger::before {
     top: 0;
 }
 
 .hamburger::after {
     bottom: 0;
 }
 
 .hamburger .hamburger_line {
     top: calc( 50% - 1px);
 }
 
 .hamburger.active {
     transform: rotate(90deg);
 }
 
 @media (max-width: 767px) {
     .hamburger {
         display: inline-block;
     }
     .header .menu {
         position: absolute;
         display: block;
         width: 100vh;
         height: 100vh;
         top: -10px;
         left: -30px;
         /* overflow: hidden; */
         z-index: 9;
     }
     .header .menu.active .menu-list {
         position: relative;
         height: 100%;
         width: 100%;
         padding: 220px 0 0 15%;
         width: 74%;
         background: #2D303A;
         box-shadow: 200px -40px 1000px rgba(0, 0, 0, 1);
         z-index: 9;
     }
     .header .menu:not(.active) {
         display: none;
     }
     .menu .menu-list li {
         display: none;
     }
     .menu-list li a {
         font-size: 23px;
         font-weight: 600;
         line-height: 3rem;
     }
     .menu.active .menu-list li {
         display: block;
         overflow: auto;
         text-align: left;
         font-size: 24px;
         margin-left: 43px;
     }
     .menu.active .menu-list li::before,
     .menu.active .menu-list li::after {
         display: none;
     }
 }
 /* Slider phone */
 
 .slider-section {
     position: relative;
     width: 100%;
     height: auto;
 }
 
 .slider-container {
     height: 594px;
     position: relative;
     display: flex;
     width: 100%;
     background: #648bf0;
     list-style-type: none;
     overflow: hidden;
 }
 
 .slide-img {
     position: relative;
     border-bottom: 6px solid #EA676B;
     box-sizing: border-box;
     padding: 53px 0 8.137vw;
     left: 0px;
     width: 0;
     opacity: 0;
     z-index: 1;
     flex-shrink: 0;
 }
 
 .showing {
     opacity: 1;
     transition: opacity 1s;
     z-index: 2;
     width: 100%;
 }
 
 .frst {
     height: 100%;
     background: #F06C64;
 }
 
 .scnd {
     background: no-repeat #6b8cf3 center;
     background-image: url('assets/Slide-2.png');
 }
 
 .phone {
     position: relative;
 }
 
 .vertical.phone {
     position: absolute;
 }
 
 .frst .phone {
     border-radius: 25px;
     width: 215px;
     height: 458px;
     background: url("assets/phone-shell.png") no-repeat;
 }
 
 .scnd .phone {
     border-radius: 27px;
     width: 230px;
     height: 486px;
 }
 
 .frst .phone.vertical {
     left: 11%;
     box-shadow: 25px 25px #ce5d56, 20px 20px #ce5d56, 15px 15px #ce5d56, 10px 10px #ce5d56, 5px 5px #ce5d56;
 }
 
 .scnd .phone.vertical {
     position: relative;
     margin: 0 auto;
 }
 
 .frst .horizont.phone {
     transform: rotate(90deg);
     left: calc(11% + 21% + 21.5%);
     box-shadow: 25px -25px #ce5d56, 20px -20px #ce5d56, 15px -15px #ce5d56, 10px -10px #ce5d56, 5px -5px #ce5d56;
 }
 
 .screen {
     position: absolute;
     top: 62px;
     left: 11px;
     overflow: hidden;
     box-sizing: border-box;
     z-index: 5;
     cursor: pointer;
 }
 
 .frst .screen {
     width: 194px;
     height: 339px;
     border: 3px solid #c7c7c7;
     border-radius: 4px;
 }
 
 .scnd .vertical .screen {
     background-image: none;
     top: 56px;
     left: 3px;
     width: 200px;
     height: 354px;
     height: 354px;
 }
 
 .vertical .screen {
     background: url("assets/green-screen.png") -14px -116px;
 }
 
 .horizont .screen {
     background: url("assets/blue-screen.png") -119px -122px;
 }
 
 .screen.black {
     background: black;
     transition: .5s;
 }
 
 .buttn {
     position: absolute;
     left: 84px;
     bottom: 10px;
     width: 40px;
     height: 40px;
     width: 3.922vw;
     border-radius: 50%;
 }
 
 .buttn:hover {
     cursor: pointer;
 }
 /* Slider arrow */
 
 .slider-arrow {
     position: absolute;
     top: 287px;
     width: 20px;
     height: 5px;
     background: #E94348;
     border-radius: 6px;
     z-index: 5;
 }
 
 .slider-arrow::after {
     content: "";
     height: 20px;
     width: 5px;
     position: absolute;
     background: #E94348;
     border-radius: 6px;
 }
 
 .slider-arrow.prev {
     transform: translateX(40px) rotate(-45deg);
 }
 
 .slider-arrow.next {
     transform: rotate(135deg);
     top: 297px;
     right: 38px;
 }
 
 .slider-arrow:hover,
 .slider-arrow:hover::after {
     cursor: pointer;
     background: #c94549;
 }
 /*  Sections common */
 
 h2 {
     /* margin-top: 62px; */
     margin-bottom: 20px;
     font-size: 30px;
     line-height: 31px;
     font-weight: 900;
 }
 
 h3 {
     font-size: 18px;
     line-height: 18px;
     font-weight: 900;
     margin-bottom: 10px;
 }
 
 .no-hover {
     position: relative;
     top: -110px;
 }
 
 .portfolio,
 .about_us,
 .services,
 .form {
     padding: 62px 40px;
     font-size: 18px;
     text-align: justify;
     font-weight: 300;
     line-height: 30px;
     overflow: hidden;
     box-sizing: border-box;
 }
 
 .desc {
     overflow: hidden;
 }
 
 .services .services_grid .desc {
     max-height: calc(3*21px + 18px + 10px);
 }
 
 .form .contact_info .desc {
     max-height: calc(4*22px + 18px + 20px);
 }
 /*  Services  */
 
 .services {
     border-bottom: 6px solid #ffffff;
 }
 /* Servises Grid */
 
 .services_grid {
     position: relative;
     margin-top: 45px;
     display: grid;
     grid-gap: 3px 20px;
     grid-template: repeat(2, 120px) / repeat(3, 3fr);
     grid-template-areas: "art1 art2 art3" "art4 art5 art6";
 }
 
 .services_grid,
 .grid-item {
     overflow: hidden;
 }
 
 .art1 {
     grid-area: art1;
 }
 
 .art2 {
     grid-area: art2;
 }
 
 .art3 {
     grid-area: art3;
 }
 
 .art4 {
     grid-area: art4;
 }
 
 .art5 {
     grid-area: art5;
 }
 
 .art6 {
     grid-area: art6;
 }
 
 .services_grid .grid-item {
     position: relative;
     padding-left: calc(59px + 21px);
     font-size: 12px;
     line-height: 21px;
 }
 
 .services_grid .grid-item::before {
     position: absolute;
     width: 60px;
     height: 60px;
     top: 1px;
     left: 0px;
 }
 
 .art1::before {
     content: "";
     background: url("assets/sprite_icons.png") -169px -9px;
 }
 
 .art2::before {
     content: "";
     background: url("assets/sprite_icons.png") -89px -88px;
 }
 
 .art3::before {
     content: "";
     background: url("assets/sprite_icons.png") -10px -9px;
 }
 
 .art4::before {
     content: "";
     background: url("assets/sprite_icons.png") -169px -88px;
 }
 
 .art5::before {
     content: "";
     background: url("assets/sprite_icons.png") -10px -88px;
 }
 
 .art6::before {
     content: "";
     background: url("assets/sprite_icons.png") -90px -9px;
 }
 /*  Portfolio  */
 
 .portfolio {
     background: #2d303a;
     border-bottom: 6px solid #323746;
 }
 
 .filter-buttons .button {
     display: inline-block;
     border: 1px solid #666d89;
     border-radius: 5px;
     margin: 11px 3px;
     padding: 0 6px;
     line-height: 20px;
     font-size: 12px;
     font-weight: 400;
     overflow: hidden;
     white-space: nowrap;
     box-sizing: border-box;
 }
 
 .button:hover,
 .filter-buttons .active {
     color: white;
     border: 1px solid white;
     cursor: pointer;
 }
 
 .filter-buttons .button.all {
     margin-left: 0px;
     padding: 0 7px;
 }
 /*  Portfolio FlexGrid  */
 
 .portfolio .grid {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: -15px;
 }
 
 .portfolio .gr {
     width: 220px;
     margin: 0 20px 20px 0;
     line-height: 0;
 }
 
 .portfolio .gr:nth-child(n+13) {
     display: none;
 }
 
 .gr {
     cursor: pointer;
 }
 
 .gr.active {
     box-shadow: #F06C64 0px 0px 0px 5px;
 }
 /*  About Us  */
 
 .about_us {
     background: #f2f2f2;
     border-bottom: 6px solid #ffffff;
 }
 /*  About Us Grid  */
 
 .about_us .grid h3 {
     margin: 10px 0;
 }
 
 .about_us .grid p {
     line-height: 20px;
     font-size: 12px;
     overflow: hidden;
 }
 
 .about_us .grid {
     display: flex;
     flex-wrap: wrap;
     margin-top: 45px;
     overflow: hidden;
 }
 
 .about_us .grid-item {
     flex: 1 0 30%;
     margin: 0 10px;
 }
 
 .about_us .grid-item img {
     display: block;
     width: 100%;
 }
 /* Social */
 
 .social {
     margin-top: 25px;
     line-height: 20px;
     white-space: nowrap;
     overflow: hidden;
     box-sizing: border-box;
 }
 
 .social a {
     display: inline-block;
     height: 34px;
     width: 34px;
     margin: 0px 1px;
 }
 
 .social a:hover {
     cursor: pointer;
     transform: scaleX(1.07);
 }
 
 .social .fb {
     background: url("assets/sprite_social.png") -11px -11px no-repeat;
 }
 
 .social .ggl {
     background: url("assets/sprite_social.png") -64px -11px no-repeat;
 }
 
 .social .twt {
     background: url("assets/sprite_social.png") -64px -65px no-repeat;
 }
 
 .social .lin {
     background: url("assets/sprite_social.png") -10px -65px no-repeat;
 }
 /*  Form  */
 
 .form {
     position: relative;
     background: #f06c64;
     color: #F0D6D6;
     border-bottom: 6px solid #ea676b;
     padding-bottom: 5px;
 }
 
 @-moz-document url-prefix() {
     .form {
         padding-bottom: 9px;
     }
 }
 
 .no-wrap {
     margin-top: 44px;
     white-space: nowrap;
 }
 
 .inputs,
 .contact_info {
     display: inline-block;
     vertical-align: top;
     white-space: normal;
 }
 
 .inputs {
     width: 60%;
 }
 
 .contact_info {
     margin-left: 17px;
     width: 40%;
     max-width: 300px;
     font-size: 12px;
 }
 
 .inputs input,
 .inputs textarea {
     display: inline-block;
     font-size: 12px;
     line-height: 38px;
     background: #D6564F;
     border: none;
     border-radius: 5px;
     color: #F0D6D6;
     margin-bottom: 16px;
     padding: 0 15px;
     width: 100%;
     box-sizing: border-box;
 }
 
 .inputs textarea {
     resize: none;
     height: 202px;
     min-height: 202px;
     font-family: 'Lato', sans-serif;
     overflow: hidden;
 }
 
 .inputs input::-webkit-input-placeholder,
 .inputs textarea::-webkit-input-placeholder {
     font-family: 'Lato', sans-serif;
     color: #f48c8f;
 }
 
 .inputs input::placeholder,
 .inputs textarea::placeholder {
     font-family: 'Lato', sans-serif;
     color: #f48c8f;
 }
 
 input.submit {
     font-family: 'Lato', sans-serif;
     font-size: 14px;
     width: 135px;
     text-align: center;
     margin: 0;
     color: #886A30;
     font-weight: bold;
     background: #FBC65F;
     cursor: pointer;
 }
 
 input.submit:hover {
     background: #FBC65F;
     box-shadow: inset 0px 0px 3px 2px #D6564F;
     box-sizing: border-box;
 }
 
 .contact_info h3 {
     color: #f0d8d9;
 }
 
 .contact_info p {
     line-height: 22px;
     margin-right: 20px;
 }
 
 .contact_links {
     position: relative;
     margin-top: 20px;
 }
 
 .contact_links a {
     display: block;
     line-height: 21px;
     text-decoration: none;
     color: #f0d8d9;
     text-align: left;
 }
 
 .contact_links a::before {
     display: inline-block;
     content: "";
     height: 16px;
     width: 15px;
     margin-right: 8px;
     vertical-align: middle;
 }
 
 a.location::before {
     background: url("assets/sprite_contacts.png") -7px -40px no-repeat;
 }
 
 a.contact_phone::before {
     background: url("assets/sprite_contacts.png") -9px -9px no-repeat;
 }
 
 a.contact_mail::before {
     background: url("assets/sprite_contacts.png") -41px -5px no-repeat;
 }
 
 .contact_links a.location {
     letter-spacing: 0.1px;
 }
 
 .contact_links a.contact_phone {
     letter-spacing: 0px;
 }
 
 .contact_links a.contact_mail {
     letter-spacing: 0.2px;
 }
 /* Modal */
 
 .modal {
     position: fixed;
     display: none;
     top: 30%;
     left: 40%;
     line-height: 1em;
     color: #D6564F;
     background-color: #FBC65F;
     border-radius: 10px;
     padding: 10px;
     z-index: 10;
 }
 
 .modal__text {
     margin: 0;
     padding: 10px 5px;
     line-height: 1em;
     overflow: auto;
 }
 
 .modal .close {
     display: block;
     left: 30px;
 }
 /* Footer */
 
 footer {
     position: relative;
     height: 80px;
     background: #2d303a;
     font-size: 13px;
     font-weight: 900;
     padding: 30px 41px;
     color: #656d89;
 }
 
 footer .copyright {
     display: inline-block;
     letter-spacing: -0.1px;
 }
 
 footer .social {
     position: absolute;
     right: 38px;
     top: -3px;
 }
 
 footer .social a:not(:last-child) {
     margin-left: 3px;
 }
 /* Responsive */
 
 @media (min-width: 1020px) {
     .portfolio .grid {
         flex: 1 0 23%;
         /* width: 23%; */
     }
     .portfolio .gr:nth-child(4n) {
         margin-right: 0px;
     }
 }
 
 @media (min-width: 768px) and (max-width: 1019px) {
     .wrapper {
         width: 100%;
     }
     .frst .phone.vertical {
         left: 11%;
         transform: scale(0.75);
     }
     .frst .horizont.phone {
         left: calc(11% + 21% + 21.5%);
         transform: scale(0.75) rotate(90deg);
     }
     .slider-container {
         height: 594px;
     }
     .slide-img.scnd {
         transform: scale(0.75);
         width: 200%;
         left: -50%;
         border: none;
     }
     .services_grid {
         grid-template: repeat(2, 120px) / repeat(2, 2fr);
         grid-template-areas: "art1 art2 " "art3 art4 " "art5 art6";
         grid-gap: 3px 55px;
     }
     .portfolio .gr {
         flex: 1 0 30%;
         width: 30%;
         margin: 0 20px 20px 0;
     }
     .portfolio .gr:nth-child(3n) {
         margin-right: 0;
     }
 }
 
 @media (min-width: 375px) and (max-width: 767px) {
     .wrapper {
         width: 100%;
     }
     .portfolio,
     .about_us,
     .services,
     .form {
         padding: 40px 30px;
     }
     header.header {
         padding: 24px 30px;
         text-align: center;
     }
     .logo {
         font-size: 20px;
         margin: 0 auto;
     }
     .slide-img {
         margin: 0 auto;
     }
     .logo.burger-active {
         margin-left: 20px;
         z-index: 10;
     }
     .slider-container {
         height: 594px;
     }
     .slider-img {
         border: none;
     }
     .slider-arrow {
         width: 19px;
         height: 5px;
     }
     .slider-arrow::after {
         content: "";
         height: 19px;
         width: 5px;
     }
     .slider-arrow.prev {
         transform: translateX(10px) rotate(-45deg);
     }
     .slider-arrow.next {
         right: 10px;
     }
     .frst .phone.vertical {
         left: 0%;
         transform: scale(0.3681);
     }
     .frst .horizont.phone {
         left: 40%;
         transform: scale(0.3681) rotate(90deg);
     }
     .slide-img.scnd {
         transform: scale(0.4);
         width: 200%;
         left: -50%;
         border: none;
     }
     .services_grid {
         grid-template: repeat(6, 120px) / repeat(1, 1fr);
         grid-template-areas: "art1" "art2 " "art3" "art4 " "art5" "art6";
     }
     .portfolio .gr {
         flex: 1 0 44%;
         width: 44%;
         margin: 0 13px 13px 0;
     }
     .portfolio .gr:nth-child(2n) {
         margin-right: 0;
     }
     .no-wrap {
         white-space: normal;
     }
     .about_us .grid-item {
         flex: 1 0 100%;
         margin: 15px 0;
     }
     .inputs,
     .contact_info,
     input.submit {
         width: 100%;
     }
     .contact_info {
         margin-top: 40px;
     }
 }
 
 @media (max-width: 374px) {
     .wrapper {
         width: 100%;
     }
     .portfolio,
     .about_us,
     .services,
     .form {
         padding: 40px 30px;
     }
     header.header {
         padding: 24px 30px;
         text-align: center;
     }
     .logo {
         font-size: 20px;
         margin: 0 auto;
     }
     .logo.burger-active {
         margin-left: 20px;
         z-index: 10;
     }
     .services_grid {
         grid-template: repeat(6, 120px) / repeat(1, 1fr);
         grid-template-areas: "art1" "art2 " "art3" "art4 " "art5" "art6";
     }
     .frst .phone.vertical {
         left: -10%;
         transform: scale(0.33);
     }
     .frst .horizont.phone {
         left: 33%;
         transform: scale(0.33) rotate(90deg);
     }
     .slider-container {
         height: 594px;
     }
     .slide-img.scnd {
         transform: scale(0.33);
         width: 200%;
         left: -50%;
         border: none;
     }
     .slider-arrow {
         width: 19px;
         height: 5px;
     }
     .slider-arrow::after {
         content: "";
         height: 19px;
         width: 5px;
     }
     .slider-arrow.prev {
         transform: translateX(10px) rotate(-45deg);
     }
     .slider-arrow.next {
         right: 10px;
     }
     .portfolio .gr {
         flex: 1 1 44%;
         width: 44%;
         margin: 0 13px 13px 0;
     }
     .portfolio .gr:nth-child(2n) {
         margin-right: 0;
     }
     .about_us .grid-item {
         flex: 1 0 100%;
         margin: 15px 0;
     }
     .no-wrap {
         white-space: normal;
     }
     .inputs,
     .contact_info,
     input.submit {
         width: 100%;
     }
     .contact_info {
         margin-top: 40px;
     }
     footer .copyright {
         display: none;
     }
     footer .social {
         right: 30%;
     }
 }